@import 'bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: #369;
}

h2, h3 {
  color: #444;
}
