<h2>My Heroes</h2>

<mat-nav-list>
  <mat-list-item *ngFor="let hero of heroes">
    <div class="list-item-container">
      <a
        class="list-item-a-link"
        routerLink="/detail/{{ hero.id }}"
      >
        <div class="list-item--id">{{ hero.id }}</div>
        <div class="list-item--name">{{ hero.name }}</div>
      </a>
      <button
        mat-raised-button
        color="primary"
        (click)="delete(hero)"
      >
        x
      </button>
    </div>
  </mat-list-item>
</mat-nav-list>

<div>
  <mat-form-field>
    <mat-label>Hero name</mat-label>
    <input #heroName matInput placeholder="name">
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="add(heroName.value); heroName.value = '';"
  >
    add
  </button>
</div>
