<h2>My Heroes</h2>

<mat-nav-list>
  <mat-list-item *ngFor="let hero of heroes">
    <a
      class="list-item-text-container"
      routerLink="/detail/{{ hero.id }}"
    >
      <div class="list-item-text-container--id">{{ hero.id }}</div>
      <div class="list-item-text-container--name">{{ hero.name }}</div>
    </a>
  </mat-list-item>
</mat-nav-list>

<div>
  <mat-form-field>
    <mat-label>Hero name</mat-label>
    <input #heroName matInput placeholder="name">
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="add(heroName.value); heroName.value = '';"
  >
    add
  </button>
</div>
